*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo{
    text-align: right;
    margin-right: 100px;
    margin-top: 100px;
    color: rgb(16, 16, 18);

}
.caja1{
    display: flex;
    margin: 20px;
}
img{

    width: 300px;
}

.parrafo{
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
    text-align:center;
    width: 500px;
    background-color: aqua;
    
}
.parrafo2{
border: 2px solid black;
}

.info{
background-color: aqua;
width: 400px;
}
.boton{
    color: white;
    background-color: black;
    width: 100px;
}